<html lang="en" ng-app="myApp">
<head>

<!-- Angular Material Dependencies -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-route.js"></script>
      <link rel="stylesheet" href="https://cdn.rawgit.com/angular/bower-material/v0.9.7/angular-material.css">
      <link rel="stylesheet" href="../static/">
      
      <script src="../controllers/homeController.js"></script>


</head>
<body class="md-whiteframe-z5">

<p class="md-headline">With Problems Comes Oppurtunity and Innovation </p>     
<md-content class="md-whiteframe-z2" style="width:33%">
    <img align="left"style="padding:15px;" align="left" src="img/jamesritter.jpg" alt="profilepic" width="160" height="160" > 
    <p class="md-body-1">James Ritter </p>
    <p class="md-body-1">B.B.A. Computer Information Systems </p>
    <p class="md-body-1">22 years old </p>
</md-content>


<h1 class="md-headline">I Can Do That</h1>
    <p class="md-body-1">I love to learn.<br>With the recent Agile Methodology movment I've noticed a shift from specality developers to adaptive multi-faceted developers.<br>I wouldn't want it any other way, I love the idea of haveing oppurtunities to try new things, and to nver stop learning. </p> 
    
<div ng-controller="goalController" layout="column"  > 
 <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Goals</h2>
    </div>
  </md-toolbar>
  <md-content  class="md-whiteframe-z2" flex >
    <md-list>
      <md-subheader class="md-no-sticky">Short-Term</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in shortgoals">
            <div class="md-list-item-text">
                <h3>{{ item.text }}</h3>
            </div>
            <md-divider ng-if="$last"></md-divider>
        </md-list-item>
        <md-subheader class="md-no-sticky">Long-Term</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="item in longgoals">
            <div class="md-list-item-text">
                <h3>{{ item.text }}</h3>
            </div>
          </md-list-item>
    </md-list>
    </md-content>
</div>
    



</body>
</html>